data/*
!data/.gitkeep
!data/pdfs/
!data/Pictures/
data/pdfs/*
!data/pdfs/.gitkeep
data/Pictures/*
!data/Pictures/.gitkeep
.DS_Store
.env
__pycache__/
*.log
logs/*
!logs/.gitkeep
.ruff_cache/
.pytest_cache/
